---
---
@charset "utf-8";

$base-font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
$base-font-size: 14px;
$base-line-height: 22px;
$content-max-width: 960px;

$blue-color: #005689;

html, body, th, th, p {
  margin: 0;
  padding: 0;

  font-weight: 300;
}

a {
  color: $blue-color;
  text-decoration: none;

  &:hover {
    color: #333;
  }
}

html, body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-rendering: geometricPrecision;
}

ul, ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}


.page-content {
  margin-top: 10%;
  .wrap {
    margin: 0 auto;
    max-width: $content-max-width;
  }
}


.columns {
  display: block;
  width: 100%;
  overflow: none;
  clear: both;

  .c {
    width: 33%;
    float: left;
    padding-top: 33px;

    li {
      margin-bottom: 10px;
    }

    &.logo {
      padding-top: 0;
    }

    &.repositories {
      .updated_at {
        font-size: 70%;
      }
    }
  }
}
